

.header{
      background: hsl(203, 80%, 65%);
      color: #fff;
      padding: 10px 0px;
      text-align: center;
}
.header h1{
      font-size: 35px;
      text-transform: capitalize;
}
img{
      max-width: 100%;
}

.photos{
      /* display: inline-block; */
      text-align: center;
      padding: 5px;

}
.photos .ph1{
      height: 100px;
      width: 445px;
      display: inline-block;
      margin-right: 98px;
}
.photos .ph2{
      height: 100px;
      width: 400px;
      display: inline-block;
      margin-right: 98px;
}
.photos .ph3{
      height: 100px;
      width:  446px;;
      display: inline-block;
}